SUPABASE_URL=https://bgcoxurzfbkkygbcljpw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnY294dXJ6ZmJra3lnYmNsanB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3NTkzMDQsImV4cCI6MjEwNDMzNTMwNH0.k5UbCkST7KHUkKfflq8IouczxOdjNPETpoPQHRxUlzs